<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Forms Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="none">
    <ion-item>
      <ion-label text-center>Resources</ion-label>
    </ion-item>
    <ion-button (click)="example('1')" expand="block" id="g1">
      Layout 1
    </ion-button>
    <ion-button (click)="example('2')" expand="block" id="g2">
      Layout 2
    </ion-button>
    <ion-button (click)="example('3')" expand="block" id="g3">
      Layout 3
    </ion-button>
    <ion-button (click)="example('4')" expand="block" id="g4">
      Layout 4
    </ion-button>

  </ion-list>
</ion-content>