<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Themes</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-button expand="block" color="medium" (click)="changeTheme('autumn')">Autumn</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('night')">Dark</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('neon')">Neon</ion-button>
  <ion-button expand="block" color="medium" (click)="changeTheme('')">Default</ion-button>
  <hr>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="medium">Medium</ion-button>
  <ion-button color="dark">Dark</ion-button>

  <ion-button color="primary" class="foo">Foo</ion-button>

  <hr>


  <p>Cocket fiddley moorsom system whipstaff saintoise cathead leeway shahbandar royal dorade box jurymast permeability
    trailboard harbor forestay constant bearing. Small craft advisory parrel rowlock shrouds coxswain
  </p>


  <ion-checkbox color="primary" checked></ion-checkbox>
  <ion-checkbox color="secondary"></ion-checkbox>
  <ion-checkbox color="danger" checked></ion-checkbox>
  <ion-checkbox color="dark" checked></ion-checkbox>
  <hr>

</ion-content>