<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slider Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    
    <ion-button (click)="goToSlider1()" expand="block" id="g1">
      Demo 1
    </ion-button>

    <ion-button (click)="goToSlider2()" expand="block" id="g2">
      Demo 2
    </ion-button>

    <ion-button (click)="goToSlider3()" expand="block" id="g3">
      Demo 3
    </ion-button>

  </div>
</ion-content>
