ion-content{
    --background: linear-gradient(#ff64c0, #FF8E80);
}

.main_content_div{
    width: 100%;
    padding: 30px;

    ion-icon{
        color: white;
        font-size: 30px;
    }

    .main_head{
        display: block;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 30px;
        margin-top: 50px;
    }

    .form_div{
        background: white;
        border-radius: 10px;
        box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
        padding: 25px;
        margin-top: 100px;
        position: relative;

        ion-label {
            font-size: 12px;
            color: lightgray;
        }

        .forgot{
            display: block;
            text-align: right;
            color: #ff64c0;
        }
        ion-input{
            border: 1px solid lightgray;
            border-radius: 5px;
            margin-bottom: 15px;
            --padding-start: 8px
        }

        ion-button{
            margin-top: 20px;
            --background: black;
        }
        .tri {
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 15px solid white;
            position: absolute;
            top: -15px;
        }
        .lbl{
            margin-top: 20px;
            color: gray;
            display: block;
            text-align: center;
        }
        .signup_span{
            color: black;
            font-weight: 600;
            font-size: 14px;
        }
    }
}