.main_content_div{
    width: 100%;

    .back_image{
        height: 150px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        ion-icon{
            font-size: 20px;
            color: white;
            position: absolute;
            right: 5px;
            top: 5px;
        }
    }
    ion-label{
        display: block;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        font-weight: 600;
    }
}