<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Payment Screens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

  <ion-button (click)="goToPayment1()" expand="block" id="g1">
    Demo 1
  </ion-button>

  <ion-button (click)="goToPayment2()" expand="block" id="g2">
    Demo 2
  </ion-button>

  <ion-button (click)="goToPayment3()" expand="block" id="g3">
    Demo 3
  </ion-button>

</div>
</ion-content>
