.main_content_div{
    width: 100%;

    ion-icon{
        font-size: 30px;
        margin-left: 16px;
        margin-top: 16px;
        position: absolute;
        z-index: 9999;
    }

    .upper_div{
        position: relative;
        height: 150px;
        .yellow_div{
            width: 120%;
            height: 260px;
            background: #e1ad01;
            border-radius: 50%;
            position: absolute;
            top: -160px;
            right: -100px;
        }

        .yellow_div_ios{
            top: -190px !important;
            right: -130px !important;
        }
    }

    .lower_div{
        padding: 20px;
        ion-label {
            display: block;
        }
        .head_lbl{
            text-align: center;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 20px;
        }

        .small_lbl{
            font-size: 12px;
            margin-bottom: 5px;
        }
        ion-input{
            border: 1px solid lightgray;
            margin-bottom: 15px;
            --padding-start: 8px;
            border-radius: 5px;
        }

        .forgot{
            text-align: right;
            color: #e1ad01;
            margin-bottom: 10px;
        }

        ion-button{
            --background: #e1ad01;
            --border-radius: 5px;
            margin-top: 20px;
        }
        .bottom_lbl{
            display: block;
            text-align: center;
            margin-top: 20px;
        }
        .signup_span{
            font-weight: 500;
        }
    }
}