<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-title>login-ex5</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="overlay">
  
    <ion-icon name="arrow-back-outline" (click)="goBack()" [class.ios_pad]="plt == 'ios'"></ion-icon>

    <div class="form_div">
      <ion-label class="head_lbl">Sign Up</ion-label>

      <ion-label class="small_lbl">First Name</ion-label>
      <ion-input type="text" placeholder="First Name"></ion-input>
      <ion-label class="small_lbl">Last Name</ion-label>
      <ion-input type="text" placeholder="Last Name"></ion-input>
      <ion-label class="small_lbl">Email ID</ion-label>
      <ion-input type="text" placeholder="Email ID"></ion-input>
      <ion-label class="small_lbl">Password</ion-label>
      <ion-input type="text" placeholder="Password"></ion-input>

      <ion-button expand="block" fill="outline">
        Sign Up
      </ion-button>

      <ion-label class="bottom_lbl">Already have an Account ? <span class="signup_span">Login</span></ion-label>
    </div>
  </div>

  <ion-slides>
    <ion-slide>
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/slide1.jpg)'"></div>
    </ion-slide>
    <ion-slide>
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/slide2.jpg)'"></div>
    </ion-slide>
    <ion-slide>
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/slide3.jpg)'"></div>
    </ion-slide>
  </ion-slides>
  <div class="main_content_div">

  </div>
</ion-content>