.main_content_div{
    width: 100%;
    padding : 20px;

    ion-label {
        display: block;
    }

    .header_lbl{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    ion-item{
        margin-bottom: 15px;
        margin-top: 15px;
    }

    ion-input, ion-datetime{
        border: 1px solid lightgray;
        border-radius: 5px;
        margin-bottom: 15px;
        // height: 50px;
        --padding-start : 8px
    }

    ion-button{
        --border-radius: 5px;
    }
}