<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <img src="assets/imgs/card.png">

    <ion-label class="add_card">Add New Card</ion-label>

    <div class="btn_div">
      <ion-label>Total Amount <span>$ 2,300</span> </ion-label>
      <ion-button expand="block" shape="round">
        Confirm
      </ion-button>
    </div>

  </div>
</ion-content>