<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grid Examples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <ion-button (click)="goToGrid_1()" expand="block" id="g1">
      Demo 1
    </ion-button>

    <ion-button (click)="goToGrid_2()" expand="block" id="g2">
      Demo 2
    </ion-button>

    <ion-button (click)="goToGrid_3()" expand="block" id="g3">
      Demo 3
    </ion-button>

    <ion-button (click)="goToGrid_4()" expand="block" id="g4">
      Demo 4
    </ion-button>

    <ion-button (click)="goToGrid_5()" expand="block" id="g5">
      Demo 5
    </ion-button>

    <ion-button (click)="goToGrid_6()" expand="block" id="g6">
      Demo 6
    </ion-button>

  </div>  
</ion-content>
