<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Firebase Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/firebase/icon.png" class="logo_icon" alt="starter">
    <p class="login-name">Reset</p>
    <p class="subTitle">Enter email to reset password <br>
    </p>
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">

      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" type="email" placeholder="Email" name="email" #email="ngModel"
          spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          Email is required
        </p>
      </ion-text>


    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button color="warning" class="btn_class" (click)="reset(loginForm)" type="submit" expand="block"
          [disabled]="isLogin">
          <span class="title" *ngIf="!isLogin"> Reset </span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>