<ion-header>
  <!-- <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat Example 5</ion-title>
  </ion-toolbar> -->

  <div class="header_div">
    <div class="first_div">
      <ion-buttons slot="start">
        <ion-back-button mode="md" color="dark"></ion-back-button>
      </ion-buttons>
      <div class="back_image" [style.backgroundImage]="'url(assets/imgs/user1.jpg)'"></div>
      <ion-label>Jonh Doe</ion-label>
    </div>
    <div>
      <ion-button fill="clear" size="small">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button fill="clear" size="small">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-header>

<ion-content>

</ion-content>