<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Timeline 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="">
      <ul class="timeline">
        <li>
          <div class="timeline-thumb bg-color-blue timeline-icon"></div>
          <div class="timeline-item">
            <h5>Like Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <ion-icon name="star-half"></ion-icon> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-red timeline-icon"></div>
          <div class="timeline-item">
            <h5>Updated Profile Picture</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <ion-icon name="heart"></ion-icon> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-lightblue timeline-icon">
            <!-- <ion-icon name="wine"></ion-icon> -->
          </div>
          <div class="timeline-item">
            <h5>A Wine Glass</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <ion-icon name="heart"></ion-icon> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-blue timeline-icon"></div>
          <div class="timeline-item">
            <h5>Like Title</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <ion-icon name="star-half"></ion-icon> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-thumb bg-color-red timeline-icon"></div>
          <div class="timeline-item">
            <h5>Updated Profile Picture</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, error.....</p>
            <div class="timeline-stats">
              <ion-icon name="heart"></ion-icon> 2,450
              <span class="pos-absolute-right"><i class="ion-ios-clock"></i> 2 mins ago</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>