<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Rest APIs Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-logo">
    <img src="assets/rest/icon.png" class="logo_icon" alt="starter">
    <p class="login-name">Login</p>
    <p class="subTitle">Enter your login detail to <br>
      access your account</p>
  </div>

  <form #loginForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item lines="none">
        <ion-input [(ngModel)]="login.email" type="email" placeholder="Email" name="email" #email="ngModel"
          spellcheck="false" autocapitalize="off" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          Email is required
        </p>
      </ion-text>

      <ion-item lines="none">
        <ion-input [(ngModel)]="login.password" name="password" placeholder="password" type="password"
          #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          Password is required
        </p>
      </ion-text>
    </ion-list>

    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding">
        <ion-button color="danger" class="btn_class" (click)="onLogin(loginForm)" type="submit" expand="block"
          [disabled]="isLogin">
          <span class="title" *ngIf="!isLogin"> Log In</span>
          <ion-spinner name="circles" *ngIf="isLogin"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
  <p class="createAcc" (click)="register()">Dont have an account?
    <span class="registerTag">Sign up</span>
  </p>
</ion-content>