.main_content_div{
    width: 100%;
    padding: 16px;

    ion-col{
        margin-bottom: 10px;
    }

    ion-label{
        display: block;
        margin-top: 7px;
    }

    .back_image{
        height: 200px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .prise{
        font-weight: 600;
    }
}