.sign_block{
    height: 200px;
    width: 100%;
    border: 1px dashed lightgray;
    .sign{
        height: 150px;
        width: 100%;
    }
}

ion-button{
    margin-top: 10px;
    --border-radius: 5px;
}